# Python standard
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Project specifics - DO NOT COMMIT LARGE FILES
data/
videos/
outputs/
models/
weights/
docs/

# Video & Model extensions
*.mp4
*.avi
*.mkv
*.pt
*.onnx
*.engine

# Jupyter Notebooks checkpoints
.ipynb_checkpoints
